body {
    background-image: url("../img/bg_2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.7;
}

.menu {
    margin-top: 200px;
    margin-left: 100px;
}

.btn_menu {
    opacity: 0.5;
    border-radius: 10px;
}

.content {
    height: 600px;
}

.content-chambre {
    opacity: 0.3;
    border-radius: 10px;
    height: 570px;
}